.shop-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
  padding: 0 4rem 6rem 0;
  background-color: rgb(252, 251, 251);
  margin-top: 0; /* elimina cualquier separación con el carrusel */
}

/* Imagen principal del look */
.look-container {
  flex: 1;
  display: flex;
  justify-content: flex-start; /* la imagen se alinea a la izquierda */
  margin-left: 0; /* sin margen */
}

.look-img {
  width: 95%;
  height: auto;
  object-fit: cover;
}

/* Productos a la derecha */
.products-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  margin-top: 9rem; /* mueve hacia abajo todo el bloque */
}

.shop-title {
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  letter-spacing: 1px;
  margin-bottom: 1.5rem;
  color: black;
}

.product-list {
  display: flex;
  gap: 0.5rem;
  
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-img {
  width: 280px;
  height: auto;
  object-fit: contain;
  box-shadow: 0 4px 11px rgba(34, 4, 207, 0.12); /* sombra ligera */
}

.product-card p {
  margin-top: 0.8rem;
  font-family: "Oswald", sans-serif;
  font-size: 0.9rem;
}